<app-header></app-header>

<div class="container">
    <h2>Resolved Reimbursements</h2>
    <div></div>
    <table class="table table-striped table-condensed">
        <thead class="thead-dark">
        <tr>
          <th>Reimbursement ID</th>
          <th>User ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reimbursement of allResolvedRequests">
          <td>{{ reimbursement.rbId }}</td>
          <td>{{ reimbursement.userId}}</td>
          <td>{{ reimbursement.rbDate }}</td>
          <td>{{ reimbursement.rbAmount }}</td>
          <td>{{ reimbursement.rbStatus | uppercase }}</td>
          <td>
              <button
                  type="button" class="btn btn-danger btn-sm" (click)="deleteRequest(reimbursement.rbId)">
                  <i class="tim-icons icon-trash-simple"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>