<app-header></app-header>

<div class="container">
      <h2>Pending Reimbursements</h2>
      <button type="button" class="btn btn-primary bm-5" (click)="toggleAdd()">
        Submit Reimbursement
      </button>
      <div *ngIf="flag">
        <form class="form-inline tm-5">
          <label for="userId" class="mb-2 mr-sm-2">User ID:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="userId" placeholder="Enter User ID" name="UserId"
            [(ngModel)]="userInfo.userId" required>
          <label for="rbDate" class="mb-2 mr-sm-2">Date:</label>
          <input type="date" class="form-control mb-2 mr-sm-2" id="rbDate" placeholder="Enter Date"
            name="ReimbursementDate" [(ngModel)]="newRequest.rbDate" required>
          <label for="rbAmount" class="mb-2 mr-sm-2">Amount:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="rbAmount" placeholder="Enter Amount"
            name="ReimbursementAmount" [(ngModel)]="newRequest.rbAmount" required>
            <div class="col-8">
              <label class="btn btn-default p-0">
                  <input type="file" (change)="selectFile($event)" required/>
              </label>
            </div>
            <div *ngIf="message" class="alert alert-success" role="alert">{{ message }}</div>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div>
          <button type="button" class="btn btn-primary mb-2" (click)="addReimbursement()">Submit</button>
        </form>
      </div>
    </div>
  
    <div class="container">
      <div></div>
      <table class="table table-striped table-condensed">
        <thead class="thead-dark">
          <tr>
            <th>Reimbursement ID</th>
            <th>User ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Approve</th>
            <th>Deny</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reimbursement of newRequestImage">
            <td>{{ reimbursement.rbId }}</td>
            <td>{{ reimbursement.userId}}</td>
            <td>{{ reimbursement.rbDate }}</td>
            <td>{{ reimbursement.rbAmount }}</td>
            <td>{{ reimbursement.rbStatus | uppercase }}</td>
            <td><img [src]="reimbursement.imageBlob"  alt="No Image Available" width="100px" height="auto"></td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="goToEditComponent(reimbursement.rbId)">
                <i class="tim-icons icon-pencil"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-success btn-sm" (click)="manageRequest(reimbursement.rbId)">
                <i class="tim-icons icon-check-2"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" (click)="denyRequest(reimbursement.rbId)">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-secondary btn-sm" (click)="deleteRequest(reimbursement.rbId)">
                <i class="tim-icons icon-trash-simple"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>