
<app-header></app-header>

<div class="container">
  
    <div class="container">
      <h2>Employee Reimbursements</h2>

      <form class="form-inline" action="/action_page.php">
        <label for="search">Search by Employee ID:</label>&nbsp;&nbsp;&nbsp;
        <input type="text" class="form-inline mb-2 mr-sm-2" id="rbId" placeholder="Enter User ID" name="userId"
        [(ngModel)]="userInfo.userId">
        <button type="button" class="btn-sm btn-success mb-2" (click)="loadRequests()">Search</button>
      </form>
  
    <table class="table table-striped table-condensed">
      <thead class="thead-dark">
        <tr>
          <th>Reimbursement ID</th>
          <th>User ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reimbursement of allUserRequests">
          <td>{{ reimbursement.rbId }}</td>
          <td>{{ reimbursement.userId}}</td>
          <td>{{ reimbursement.rbDate }}</td>
          <td>{{ reimbursement.rbAmount }}</td>
          <td>{{ reimbursement.rbStatus | uppercase }}</td>
        </tr>
      </tbody>
    </table>