body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    color: white;
}

.w3-bar,
h1,
button {
    font-family: "Montserrat", sans-serif;
    color: white;
}

div {
padding-top: 30px;
padding-left: 60px;
}